# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

le langage SQL (Structured Query Language) est un langage informatique utilisé pour exploiter des bases de données. Il permet de façon générale la définition, la manipulation et le contrôle de sécurité de données

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite est un système de base de données ou une bibliothèque proposant un moteur de base de données relationnelles. Il repose sur une écriture en C, un langage de programmation impératif, et sur une accessibilité via le langage SQL (Structured Query Language).

Avantages:
- SQLite présente la particularité d'être directement intégré aux programmes et dans l'application utilisant sa bibliothèque logicielle alors que ses - -concurrents comme MySQL reproduisent de leur côté le schéma classique client-serveur.
- Avec SQLite, la base de données est intégralement stockée dans un fichier indépendant du logiciel.

Inconvénients:
- écritures atomiques (avec SQLite, un seul processus peut écrire dans la base)
- pas de réplication(La réplication consiste à créer des copies d'un serveur de base de données MySQL de façon à pouvoir répartir la charge (load-balancing) et ainsi pouvoir répondre à de fortes demandes, sur les sites à grande audience (comme facebook par exemple)).

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

les formats CSV, XML et JSON. Ces trois formats se base sur un fichier texte, c'est-à-dire qu'ils représentent les données par une suite de caractères. Pour les trois formats, on peut distinguer deux types d' information dans les fichiers : les données en tant que telles et des caractères permettant de stocker la structure de ces données. La grande différence entre ces trois formats est la manière avec laquelle les données sont structurées.

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier Binaire

### Question 5: Donner les caractéristiques de la table `summer` ?

![R5](./snaps/R5.png)

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

```sql
SELECT count(*)
FROM summer;
```

Résultat: 31165

Copie écran DB Browser for SQLite
![R6](./snaps/R6.png)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

```SQL
SELECT  DISTINCT Year
FROM summer;

Résultat: 1896-2012

![R7](./snaps/R7.png)

### Question 8: Indiquer les années et villes des olympiades ?

```SQL
-- Question 8  Indiquer les années et villes des olympiades ?
SELECT  DISTINCT Year, City
FROM summer;
```

Copie écran DB Browser for SQLite
![R8](./snaps/R8.png)

---

## Questions collectives

### Q1 -Combien la France a remporté de médailles d’or aux JO de 1984 ? (Christophe)

```SQL
SELECT count(*)
FROM summer
WHERE Year=1984 AND Country='FRA' AND Medal='Gold'
```

![Q&R1](./snaps/Q1.png)

### Q2-Quel pays a le plus d'athlète? (Mathias)

```SQL
SELECT DISTINCT Athlete, Country, count(Athlete) as nAthlete
FROM summer
GROUP BY Athlete, Country
ORDER BY nAthlete DESC
```

Copie écran DB Browser for SQLite

![Q&R2](./snaps/Q2.png)

### Q3.En 2012 combien de médailles le Japon a t-il gagné? (Théo)

```SQL
SELECT count(Medal) 
FROM summer
WHERE Year=2012 and Country='JPN'
```

Copie écran DB Browser for SQLite
![Q&R3](./snaps/Q3.png)

### Q4: Dans quels différents sports les Grecs ont-ils gagné des médailles? (corentin L)

```SQL
SELECT Sport,Medal
FROM summer
WHERE Country='GRE'
GROUP BY Sport
````

Copie écran DB Browser for SQLite
![Q&R4](./snaps/Q4.png)

### Q5.Quel pays a remporté le plus de médailles d’or ? (Philippe)

```SQL
SELECT Country, count(Medal='Gold')as nMedal
FROM summer
GROUP BY City,Medal
ORDER BY nMedal DESC
````

Copie écran DB Browser for SQLite
![Q&R5](./snaps/Q5.png)

### Q6.Combien de villes différentes ont accueilli les JO d’été entre 1896 et 2012 ? (Yoann)

```SQL
SELECT DISTINCT City
FROM summer
WHERE YEAR BETWEEN 1896 and 2012
````

Copie écran DB Browser for SQLite
![Q&R6](./snaps/Q6.png)

### Q7.Combien de femmes ont obtenu  une médaille d’or ? (Lamia)

```SQL
SELECT DISTINCT count(Gender)
FROM summer
WHERE Medal='Gold' and Gender='Women'
````

Copie écran DB Browser for SQLite
![Q&R7](./snaps/Q7.png)

### 8.Combien de sports différents sont représentés par année ? (joris)

```SQL
SELECT Year, count(DISTINCT Sport)
FROM summer
GROUP BY Year
````

Copie écran DB Browser for SQLite
![Q&R8](./snaps/Q8.png)

### 9.Combien de fois Londres a accueilli les J.O ? (Marvin)

```SQL
SELECT DISTINCT Year, City
FROM summer
WHERE City='London'
````

Copie écran DB Browser for SQLite
![Q&R9](./snaps/Q9.png)

### 10.Combien de joueuses comptait la sélection brésilienne de volley-ball médaillée d’or aux J.O de 2012 ? (Corentin P)

```SQL
SELECT country,Gender,Sport,Year, count(Gender) 
FROM summer
WHERE Gender='Women' AND Country='BRA' AND Sport='Volleyball' AND Medal='Gold' AND Year=2012
````

Copie écran DB Browser for SQLite
![Q&R10](./snaps/Q10.png)

### Q11.Combien de femmes françaises ont participé en 2012 , quel sont leurs médailles ? (izak)

```SQL
SELECT Medal, count(Gender) 
FROM summer
WHERE Gender='Women' AND Country='FRA' AND Year=2012
GROUP BY Medal
````

Copie écran DB Browser for SQLite
![Q&R11](./snaps/Q11.png)

### Q12.Quel est l’athlète qui a remporté le plus de médailles d’or ? (mayel)

```SQL
SELECT Athlete, count(Medal) as nMedalGold
FROM summer
WHERE Medal='Gold'
GROUP BY Athlete
ORDER BY nMedalGold DESC
````

Copie écran DB Browser for SQLite
![Q&R12](./snaps/Q12.png)

### Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? (jordan)

```SQL
SELECT count(Medal)
FROM summer
WHERE Medal='Gold' AND Country='FRA' AND Sport='Cricket'
````

Copie écran DB Browser for SQLite
![Q&R13](./snaps/Q13.png)

### Q14.Combien de médaillés ont un nom de famille de plus de 6 lettres en excluant les années paires ? (jonathan

```SQL
SELECT Athlete, count(Medal)
FROM summer
WHERE YEAR%2<>0 AND length(UPPER(Athlete))>6
````

Copie écran DB Browser for SQLite
![Q&R14](./snaps/Q14.png)

### Q15.Le nombre de médailles d’or par pays en 2012 (Maëlle)

```SQL
SELECT Country,Medal,count(Medal) as nMedalGold
FROM summer
WHERE Medal='Gold' AND Year=2012
GROUP BY Country
````

Copie écran DB Browser for SQLite
![Q&R15](./snaps/Q15.png)

### Q16.Combien de femmes ont remporté des médailles ? (Alicia)

```SQL
SELECT Count(DISTINCT Athlete)
FROM summer
WHERE Gender='Women'
````

Copie écran DB Browser for SQLite
![Q&R16](./snaps/Q16.png)

### Q17.Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

```SQL
SELECT Count(Medal)
FROM summer
WHERE Year BETWEEN 1984 AND 2012 AND Country='FRA'
````

Copie écran DB Browser for SQLite
![Q&R17](./snaps/Q17.png)

Fin